* {
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
   background-color:rgb(21, 24, 77);
}
h1 {
  text-align:center;
  margin: 25px;
  min-width: 200px;
  color:white; 
}

input {
  margin-right: 10px;
  font-size:1.1rem;
}

label {
  display:block;
  text-align:center;
  font-size: 1.2rem;
  min-width:200px;
}

#search-button, #clear-button {
  font-size: 1rem;
  background-color: rgb(152, 237, 194);
  border:2px solid white;
  padding:5px;
  border-radius: 5px;
}

#search-button:hover{
  background-color:rgb(88, 196, 142);
  cursor: pointer;
}

#clear-button:hover{
  background-color:rgb(88, 196, 142);
  cursor: pointer;
}

#search {
  margin: 10px 0;
  min-width:200px;
  text-align:center;
}

#container {
  background-color:lightblue;
  max-width: 500px;
  min-width: 260px;
  margin: 0 auto;
  padding:20px;
  border-radius: 20px;
  height: 850px;
}

#pokemon-name {
  margin-right: 15px;
  font-size:1.5rem;
}

#pokemon-id {
  
  font-size: 1.5rem;
}

#weight {
  margin-right: 10px;
  font-size:1.1rem;
}

#height {
  font-size: 1.1rem;

}

#types {
  position:absolute; 
  top: 245px;
  left: 10px;
  font-size: 1.1rem;
  border: 2px solid black;
  border-radius: 3px;
  padding:8px;
  color:black;
}

#search-1{
  position:absolute;
  top: 5px;
  left: 10px;
}

#search-2{
  position:absolute;
  top: 40px;
  left:10px;
}

#poke-img{
  position:absolute;
  top:100px;
  display:flex;
  justify-content: center;
  align-items:center;
  width:100%;
}

#sprite {
  width:200px;
  overflow:hidden;
}



#search-results {
  background-color:white;
  position:relative;
  height: 300px;
  border:3px solid black;
  visibility: hidden;
}

#stats{
  margin-top: 40px;
  
}

table{
  border-collapse:collapse;
  margin: 0 auto;
  width:300px;
  height:300px;
  text-align:center;
  font-size:1.3rem;
}

td,tr{
  border:4px solid white;
  padding:10px;
  background-color:rgb(152, 237, 194);
}

th {
  height:50px;
}

